
.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 10%;
  left: 10%;
  width:80%;
  height: 80%;


  @media(max-width: 1199px) {
    & {
      top: 5%;
      left: 5%;
      width: 90%;
    }
  }  

  @media (max-width: 921px) {
    & {
      top: 0;
      left: 0;
      height: auto;
      margin: auto;
      margin-top: 1em;
      margin-bottom: 1em;
      flex-direction: column;
      width: 95%;     
    }
  } 
}
  .encryption {
    flex: 5 1 0;
    opacity: 0.9;
    margin: 0em 2em 0em 0em;
    overflow:auto;

    @media (max-width: 921px) {
      & {
        min-height: auto;
        overflow: visible;
        margin: 0em 0em 1em 0em;
      }
    }

    mat-card {
      min-height: calc(100% - 2em);
      padding: 1em;
      mat-card-content {
        padding: 2em;
        @media (max-width: 921px) {
          & {
            padding: 0.5em;
          }
        }
        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          button {
            margin-right: 1em;
          }
  
        }
      }
  
      @media (min-width: 922px) {
        mat-card-actions {
          position: absolute;
          bottom: 1em;
          left: 2em;
        }
      } 

    } 
    
  }

  .info {
    flex: 3 1 0;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow:auto;
    @media (max-width: 921px) {
      & {
        overflow: visible;
      }
    }
    
    .contact {
      margin-top: 2em;
      .header-image {
        background-image: url('/assets/avatar.png');
        background-size: cover;
      }
      mat-card-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.5em 0em 0.5em 0em;
        a {
          margin: 0em 0.5em;
          color: #424242;
          background-color: white;
          &:hover {
            color: white;
            background-color: #424242;
          }
          width: 34px;
          height: 34px;
          mat-icon {
            width: 18px;
            height: 18px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

         
        }
      } 
           
    }    

  }

    
    





 /*************************/

input, mat-form-field {
  width: 100%;
}




input[type=file] {
  display: none;
}

mat-form-field {
  max-height: 20vh;
  overflow-y: auto;
  overflow-x: hidden;
}

button span {
  margin-left: 0.2em;
}


