<main class='page'>

  <form  [formGroup]="filesEncryptionForm" class="encryption" tabindex="0">
    <mat-card>
      <mat-card-header> 
        <mat-card-title>File Encryption</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <button mat-stroked-button onclick="chooseFiles.click()" title="files to be encrypted or decrypted">
            <mat-icon>library_add</mat-icon>
            <span>Add files</span> 
          </button>
          <input id="chooseFiles" type="file" multiple (change)="addFilesToEncrypt($event)" />
          <mat-form-field aria-label="chosen files for encryption">           
            <mat-chip-list formControlName="filesToEncrypt" >
              <mat-chip *ngIf="filesToEncrypt.length < 1" 
                aria-label="files"
                aria-hidden="true" 
                disabled="true">
                files
              </mat-chip>
              <mat-chip *ngFor="let file of filesToEncrypt" selectable="true"
                removable="true" (removed)="cancelFile(file)"
                attr.aria-label="{{file.name}}">
                {{file.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
            <mat-error *ngIf="filesEncryptionForm.get('filesToEncrypt').invalid" aria-live="assertive">
              Please choose at least one file to encrypt.
            </mat-error>
            
          </mat-form-field>
          <button mat-stroked-button onclick="chooseKey.click()" title="file to be used as a key">
            <mat-icon>library_add</mat-icon>
            <span>Key</span> 
          </button>
          <input id="chooseKey" type="file" (change)="addFileAsKey($event)"/>
          <mat-form-field aria-label="chosen file as a key">
            <mat-chip-list formControlName="keyFile" >
              <mat-chip *ngIf="!keyFile" 
                aria-label="your key"
                aria-hidden="true" 
                disabled="true">
                key
              </mat-chip>
              <mat-chip *ngIf="keyFile" 
                removable="true" (removed)="cancelKeyFile()"
                aria-label="keyFile.name">
                {{keyFile.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
            
            <mat-error *ngIf="filesEncryptionForm.get('keyFile').invalid" aria-live="assertive">
              Please choose a file as a key.
            </mat-error>
          </mat-form-field>
        
        <div>
          <button mat-mini-fab title="the processed files list" aria-label="the processed files list" (click)="openLastEncryption()">
            <mat-icon>list</mat-icon>
          </button>
          <mat-spinner *ngIf="isProcessing" [diameter]="39" aria-label="processing" aria-live="assertive"></mat-spinner>
        </div>                         
      </mat-card-content>

      <mat-card-actions>
          <button type="button" 
            mat-button (click)='encrypt()' 
            [disabled]="filesEncryptionForm.invalid || isProcessing" >
            ENCRYPT
          </button>
          <button 
            type="button" 
            mat-button 
            (click)='decrypt()'  
            [disabled]="filesEncryptionForm.invalid || isProcessing">
            DECRYPT
          </button>
      </mat-card-actions>
    </mat-card>
  </form>  

  <div class='info'>
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How to use it
          </mat-panel-title>
        </mat-expansion-panel-header >
        <p>
          To encrypt or decrypt any kind of files you only need to choose the files that you want to encrypt and the key as a file
          (better not a file that every one has it like winrar's installable) and click on encrypt or decrypt button the result 
          will be presented as a list of files which you can save on your hard drive. Note that there is no upload for your files or a download 
          from a server side. Every thing is done in your browser. <br>
          <small role="note" aria-label="note for usage">
            don't forget to keep your key file and don't make any changes on it because a tiny changement will breack the 
            decryption 
          </small> 
        </p>   
        
        
        
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How it works
          </mat-panel-title>
        </mat-expansion-panel-header  >
        <p>
          The encryption in this website is based on crypto browser API. The files are loaded in brut format using the File
          interface. First the key file is hashed using SHA-256 to generate 256 bits strong key for AES-GCM encryption mode. The Files
          are encrypted using encrypte() method of SubtleCrypto interface then using Blob object the UrlObject for the files is created.
          to make it possible to save the files in the hard disk. 
        </p>
      </mat-expansion-panel>
      
    </mat-accordion>
    <mat-card class="contact" role="banner" aria-label="the developer of this website">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Houssem Merdaci</mat-card-title>
        <mat-card-subtitle>Software developer</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Houssem Merdaci is a computer scientist and software developer he likes especially Qt and Angular. his specialty
          is cryptography and security that's why he developed this website and also to make it easy for any one to encrypt 
          his files.He likes Jazz music, cats and of course programming. He is living in Germany now and he likes it a lot.  
        </p>
      </mat-card-content>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-footer role="groupe" aria-label="social medial links">

        <a mat-mini-fab href="https://gitlab.com/Houssem12322" target="_blank" rel="noopener" >
            <mat-icon svgIcon="gitlab" aria-hidden="false" aria-label="gitlab account link"></mat-icon>
        </a>
        <a mat-mini-fab href="https://www.linkedin.com/in/houssem-merdaci-56b772162" target="_blank" rel="noopener" >
            <mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="linkedin account link"></mat-icon>
        </a>
        <a mat-mini-fab href="https://www.facebook.com/houhou.mer" target="_blank" rel="noopener" >
            <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="facebook account link"></mat-icon>
        </a>
        <a mat-mini-fab href="https://portfolio-houssem-merdaci.firebaseapp.com/home" target="_blank" rel="noopener">
          <mat-icon svgIcon="portfolio" aria-hidden="false" aria-label="my portfolio"></mat-icon>
      </a>
      </mat-card-footer>
    </mat-card>
  </div>

</main>




