<div>
  <h1 mat-dialog-title>Output Files</h1>
  <button mat-icon-button (click)="closeDialog()" aria-label="close dialog"><mat-icon>close</mat-icon></button>
</div>


<mat-dialog-content>

  <p *ngIf="errorMessage !== null" [innerHtml]="errorMessage"></p>
  
  <mat-list *ngIf="errorMessage === null">
    <div mat-list-item class="output-file" *ngFor="let element of data; index as i">
      <mat-error *ngIf="element.file === null">{{element.state}}</mat-error>
      <span *ngIf="element.file !== null">{{element.file.name}}</span>
      <a [href]="filesSafeUrls[i]" 
        download [disabled]="element.file === null" 
        mat-raised-button color="primary"
        (click)="saveLanched($event)"
        [attr.aria-label]="element.file ? 'save' + element.file.name : ''">
        save
      </a>
      
    </div> 
  </mat-list>

</mat-dialog-content>
