table {
    width: 100%;
}

mat-dialog-content {
    min-height: 30vh;
}

div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

mat-list {
    div {
        align-items: center;
    }

    a {
        margin-left: 1em;
    }
    
}


.output-file {
    padding: 0.5em;
}