/* You can add global styles to this file, and also import other style files */
body {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0.3)),
    top left url('assets/coffer.jpg') no-repeat ;
    background-size: 100% 100%, 100% auto;
    background-attachment: fixed;
    
}

@media screen and (min-width: 768px) and (max-width: 1336px)  { 
    body {
        background-size: 100% 100%, 1366px;
    }
}

@media screen and (max-width: 767px) { 

    body {
        background-position: top left, top left 50%;
        background-size: 100% 100%, 1366px;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
